<div *ngIf="showFormDati">
<button (click)="Add()" *ngIf="showNew">Nuova</button>
<button (click)="Conferma()" *ngIf="showConferma">Conferma</button>
<button (click)="Annulla()" *ngIf="showAnnulla">Annulla</button>
<button (click)="Modifica()" *ngIf="showModifica">Modifica</button>
<button (click)="Rimuovi()" *ngIf="showRimuovi">Rimuovi</button>
<input type="text" [(ngModel)]="prodotto.codice">
<input type="text" [(ngModel)]="prodotto.descrizione">
</div>
<button (click)="Seleziona()" *ngIf="showSeleziona">Seleziona</button>
<input type="text" [(ngModel)]="criterioRicerca">
<button (click)="Ricerca()" *ngIf="showRicerca">Ricerca</button>
<table  *ngIf="showTable">
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
